{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css')}}">
{% endblock %}

{% block body %}


    <div class="contact-container">

        <h1>Contact</h1>
        {#{% if form is defined %}#}
        {{ form_start(form) }}
        
        <form>
            <label for="">Email</label><br>
            {{form_widget(form.mail)}}<br>
            <label for="">Message</label><br>
            {{form_widget(form.text)}}<br><br>
            {{form_widget(form.save)}}<br><br>
        </form> 

        {{ form_end(form) }}
        {#{% endif %}#}
    </div>

{% endblock %}
